@media screen and ( min-width: 1200px  )
    .container
        max-width: 1200px
    .flex-container
        max-width: 1340px

    .banner__content
        background: #fff
        position: absolute
        .banner__content--lg
            max-width: 370px
            width: auto
            max-height: calc(100% - 251px)

    .product__body
        padding-left: 15px
        padding-right: 15px 

    .header__top, .header__bottom
        width: 100%
        max-width: 1170px

    .header-mobile
        display: none
    

@media screen and ( max-width: 1023px )

    .header
        display: none

    .header-mobile
        display: block

    .header__bottom
        display: flex
        flex-direction: column
        width: 100%

    .mobile-logo
        margin-left: 0
        margin-right: 0
        padding-right: 0
        display: flex
        justify-content: space-between

    .header__logo
        position: static
        
      
    
    .header__bottom--menu
        padding: 0
        margin: 0
        margin-top: 20px
        li
            font-size: 15px
    .btn__grey
         margin: 0
    
    .header__bottom--wrapper
        margin-bottom: 20px

    .header__phone
        a:after 
            content: ''
            width: 24px
            height: 24px
            position: absolute
            top: 15px
            left: 0
            background: url(../img/icon/phone.svg) no-repeat center

    .slick-slider   
        min-width: 0
  

    .slick-list
        overflow: hidden
  

    .slick-track
        display: flex
        justify-content: space-between
  

    .slick-list
        overflow: hidden
  


   